:root{
    --mainColor: #79846e;   
    --secondaryColor: #515a48;

    --borderColor: #bfcfb3;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --themeDotBorder: #fff;

    --previewBg:rgb(81, 90, 72, 0.8);
    --previewShadow:#2a2f25;

    --buttonColor: #669966;


}